body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  background-color: #fafafa;
}

.main-container {
  width: 100%;
  background-color: #2b2226;
  max-width: 765px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  background-color: #ec4c8b;
  max-width: 765px;
}
