.product-listItems {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border-top: #aaa solid 1px;
}

.product-container {
  padding: 2% 1%;
  border-bottom: #aaa solid 1px;
}

a{
  text-decoration: none;
  color: #000;
}